# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs
*.log
artifacts/